# Composer dependencies
/vendor/

# Environment files
.env
app/Config/.env

# CI4 writable folders
writable/
public/writable/

# Logs, session, cache, debugbar
writable/logs/
writable/session/
writable/cache/
writable/debugbar/
*.log

# IDE / editor files
*.idea/
*.vscode/
*.sublime-project
*.sublime-workspace

# System files
.DS_Store
Thumbs.db

# Composer lock file (optional if you want to track it)
# composer.lock
