<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /ITE311-BUHISAN/

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>

<IfModule !mod_rewrite.c>
    ErrorDocument 404 /ITE311-BUHISAN/index.php
</IfModule>

ServerSignature Off
